body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
p li {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: small;
}

.title1 {
  text-decoration: underline;
  text-decoration-style: double;
  text-align: center;
}

.title2 {
  text-decoration: underline;
  margin: 40px 40px 30px 40px;
  font-weight: bolder;
}

.title3 {
 margin: 20px 40px;
}

.list {
  margin: 0px 40px;

}
.list_first li:nth-child(even) {
  text-decoration: underline;
  text-decoration-style: dashed;
  color: rgba(3, 41, 53, 0.755);
}

.list_second li:nth-child(odd)
   {
  text-decoration: underline;
  text-decoration-style: dashed;
  color: rgba(58, 58, 58, 0.762);
}

.blue_title {
  color: rgba(3, 41, 53, 0.755);
}

.charlotte {
  background-color: rgba(45, 174, 216, 0.235);
  border-top: 3px solid;
  border-bottom: 3px dashed;
  border-left: 3px dashed;
  border-right: 3px solid;
  border-color: rgba(15, 50, 62, 0.406);
}

.tiramisu {
  background-color: rgba(169, 169, 169, 0.18);
  border-top: 3px solid;
  border-bottom: 3px dashed;
  border-left: 3px dashed;
  border-right: 3px solid;
  border-color:rgba(58, 58, 58, 0.762);
  }

  .gray_title {
    color: rgba(58, 58, 58, 0.762);  
  }
  

.div_size {
  position: relative;
  max-width: 65vw;
  margin: 0 auto;
  margin-top: 100px;
}

.description {
  margin: 0px 40px;
}

.finale {
  margin: 0 auto;
}

.hr-line {
  border: none;
  width: 1px;
  color: black;
}
.description_charlotte:first-letter {
  color: rgba(3, 41, 53, 0.755);
  font-weight: bolder;
  font-size: xx-large;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.description_tiramisu:first-letter {
  color: rgba(58, 58, 58, 0.762);
  font-weight: bolder;
  font-size: xx-large;
  }

.image_size {
  position: absolute;
  width: 250px;
  box-shadow: 0px 0px 0px 4px rgba(3, 41, 53, 0.755);
  left: 85%;
  bottom: 90%;
}

.finale {
  font-style: italic;
  margin-bottom: 20px;
  text-align: center;
}

.hr {
  margin: 0 auto;
  padding: 0;
  height: 0;
  border: none;
  border-top: 1px solid rgb(8, 8, 8);
  margin-top: 40px;
}
