body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.div_size {
  position: relative;
  max-width: 75vw;
  margin: 0 auto;
  margin-top: 130px;
}

.title1 {
  text-decoration: underline;
  text-decoration-style: double;
  text-align: center;
}

.title2 {
  text-decoration: underline;
  margin: 40px 40px 30px 40px;
  font-weight: bolder;
}

.title3 {
  margin: 20px 40px;
}

.list {
  margin: 0px 40px;
}
.list_first li:nth-child(even) {
  text-decoration: underline;
  text-decoration-style: dashed;
  color: rgba(3, 41, 53, 0.755);
}

.list_second li:nth-child(odd) {
  text-decoration: underline;
  text-decoration-style: dashed;
  color: rgba(58, 58, 58, 0.762);
}

.list_third li:nth-child(3n) {
  text-decoration: underline;
  text-decoration-style: wavy;
  color: rgba(34, 74, 34, 0.831);
}

.blue_title {
  color: rgba(3, 41, 53, 0.755);
}

.green_title {
  color: rgba(34, 74, 34, 0.831);
}

.gray_title {
  color: rgba(58, 58, 58, 0.762);
}

.charlotte {
  background-color: rgba(45, 174, 216, 0.235);
  border-top: 3px solid;
  border-bottom: 3px dashed;
  border-left: 3px dashed;
  border-right: 3px solid;
  border-color: rgba(15, 50, 62, 0.406);
}

.tiramisu {
  background-color: rgba(169, 169, 169, 0.18);
  border-top: 3px solid;
  border-bottom: 3px dashed;
  border-left: 3px dashed;
  border-right: 3px solid;
  border-color: rgba(58, 58, 58, 0.762);
  margin-top: 90px;
}

.cookies {
  background-color: rgba(143, 188, 143, 0.618);
  border-top: 3px solid;
  border-bottom: 3px dashed;
  border-left: 3px dashed;
  border-right: 3px solid;
  border-color: rgba(34, 74, 34, 0.831);
}

.description {
  margin: 0px 40px;
}

.description_charlotte:first-letter {
  color: rgba(3, 41, 53, 0.755);
  font-weight: bolder;
  font-size: xx-large;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.description_tiramisu:first-letter {
  color: rgba(58, 58, 58, 0.762);
  font-weight: bolder;
  font-size: xx-large;
}

.description_cookies:first-letter {
  color: rgba(34, 74, 34, 0.831);
  font-weight: bolder;
  font-size: xx-large;
}

.image_size {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 85%;
  bottom: 89%;
}
.image_border_charlotte {
  border: 4px solid;
  border-color: rgba(3, 41, 53, 0.755);
}

.image_border_tiramisu {
  border: 4px solid; 
  border-color: rgba(58, 58, 58, 0.762);
}

.image_border_cookies {
 border: 4px solid;
 border-color: rgba(34, 74, 34, 0.831);
}

.finale {
  font-style: italic;
  text-align: center;
  text-decoration: overline;
  margin: 70px 30px 20px 30px;
}
